@import './../../../styles.scss';

section {
  height: 100vh;
  @include dFlex($jc: space-between);
  flex-direction: column;
}

header {
  @include dFlex($jc: flex-start);
  width: 100%;
  padding: 75px 0px 0px 75px;
  margin-bottom: 50px;

  .logo {
    width: 242px;
    height: 70px;
  }
}

.dialog-container {
  @include dFlex($g: 40px);
  flex-direction: column;
  background-color: $white;
  width: 36.35vw;
  max-width: 698px;
  min-width: 500px;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.headline {
  @include dFlex($jc: space-between, $g: 16px);
  width: 100%;
  padding: 0px 20px 0px 20px;

  >div,
  .img-container {
    width: 40px;
    height: 40px;
    @include dFlex();
  }

  .img-container {

    .arrow-back-hover {
      display: none;
    }

    &:hover {

      background-color: $ice_blue;
      border-radius: 50%;

      .arrow-back {
        display: none;
      }

      .arrow-back-hover {
        display: block;
      }
    }
  }

  .arrow-back,
  .arrow-back-hover {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  >h1 {
    @include font($fs: 46px, $fw: 700);
    color: $purple_1;
    text-align: center;
  }
}

.subtext {
  @include font($fs: 20px, $fw: 400);
  text-align: center;
  width: 50.72%;
  max-width: 354px;
}

.text-gray {
  @include font($fs: 20px, $fw: 400);
  text-align: center;
  width: 50.72%;
  max-width: 354px;
  color: $textGray;
}

.dialog-box {
  @include dFlex($g: 40px);
  flex-direction: column;
  width: 100%;
}

.input-email {
  @include dFlex($ai: flex-start);
  flex-direction: column;
  width: 69.63%;
  max-width: 486px;
}

.input-container {
  @include dFlex($jc: flex-start, $g: 25px);
  width: 100%;
  background-color: $ice_blue;
  border: 1px solid $ice_blue;
  height: 60px;
  border-radius: 100px;
  padding: 18px 32px;

  &:hover {
    border: 1px solid $textGray;
  }

  &.input-invalid {
    border: 1px solid $red;
  }

  &.input-focused {
    border: 1px solid $purple_3;
  }
}

input {
  all: unset;
  height: 24px;
  @include font($fs: 18px, $fw: 500);
  cursor: text;
  flex: 1;
}

.dialog-button {
  @include dFlex($jc: flex-end);
  width: 100%;
  padding-right: 40px;

  button {
    @include font($fs: 18px, $fw: 700);
    border-radius: 25px;
    border: unset;
    background-color: $textGray;
    color: $white;
    padding: 12px 25px;
    cursor: pointer;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background: $purple_1;
  color: $white;
  padding: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  @include font($fs: 36px, $fw: 700);
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  pointer-events: none;

  &.show {
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    opacity: 1;
    pointer-events: all;
  }
}

.overlay-content {
  text-align: center;
}

footer {
  @include dFlex($g: 10px);
  color: $purple_2;
  padding: 75px 0px 40px 0px;

  .link-container {
    @include dFlex();
    width: 140px;

    >a {
      @include font($fs: 18px, $fw: 400);
      padding: 10px 15px;
    }

    border: 1px solid $ice_blue;
    border-radius: 25px;

    &:hover {
      color: $purple_1;
      border: 1px solid;
      border-radius: 25px;
      border-color: $lightPurple;

      >a {
        @include font($fs: 18px, $fw: 700);
      }
    }
  }
}

/*--------------------------------------------------   Mobile   --------------------------------------------------*/
@media(max-width: 600px) {

  header {
    @include dFlex();
    padding: 75px 0px 0px 0px;

    .logo {
      width: 204px;
      height: 56px;
    }
  }

  .dialog-container {
    width: 92.55vw;
    max-width: 398px;
    min-width: 300px;
  }

  .headline {
    width: 92.55vw;
    max-width: 398px;
    min-width: 300px;
    padding: 0px 20px 0px 20px;

    >h1 {
      @include font($fs: 32px, $fw: 700);
    }
  }

  .subtext {
    @include font($fs: 17px, $fw: 400);
    width: 92.55vw;
    max-width: 398px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .input-email {
    width: 89.94vw;
    max-width: 358px;
    min-width: 270px;
  }

  .input-container {
    height: 50px;
    border-radius: 100px;
    padding: 13px 32px;
  }
}

@media(max-width:400px) {
  .subtext {
    @include font($fs: 16px, $fw: 400);
  }

  input {
    height: 22px;
    @include font($fs: 16px, $fw: 500);
    cursor: text;
    flex: 1;
  }
}