<section class="content-max">
  <header>
    <img class="logo" src="assets/img/logo.svg" alt="" />
  </header>
  <form class="dialog-container">
    <div class="headline">
      <a [routerLink]="['/login']">
        <div class="img-container">
          <img
            class="arrow-back"
            src="assets/img/icons/arrow-back.svg"
            alt="Arrow Back Icon"
          />
          <img
            class="arrow-back-hover"
            src="assets/img/icons/arrow-back-hover.svg"
            alt="Arrow Back Icon"
          />
        </div>
      </a>

      <h1>Passwort zurücksetzten</h1>
      <div></div>
    </div>
    <div class="subtext">
      <p>Bitte geben Sie Ihre E-Mail-Adresse ein</p>
    </div>
    <div class="dialog-box"> 
      <div class="input-email">
        <div class="input-container">
          <img src="assets/img/icons/mail-icon.svg" alt="Mail Icon" />
          <input
            [(ngModel)]="email"
            name="email"
            type="email"
            placeholder="beispielname@email.com"
            required
            #emailField
            (focus)="onFocus('email')"
            (blur)="onBlur(); isEmailValid = eMailPattern.test(email)"
          />
        </div>
      </div>

      <div class="subtext text-gray">
        <p>
          Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
        </p>
      </div>          
    </div>

    <div class="dialog-button">
      <button (click)="forgotPassword()">E-Mail senden</button>
    </div>
  </form>

  @if(showOverlay) {
    <div class="overlay" [class.show]="showOverlay">
      <div class="overlay-content">
        <p>E-Mail gesendet!</p>
      </div>
    </div>
  }

  <footer>
    <div class="link-container">
      <a [routerLink]="['/legal']">Impressum</a>
    </div>
    <div class="link-container">
      <a [routerLink]="['/policy']">Datenschutz</a>
    </div>
  </footer>
</section>
