<section class="content-max">
  <header>
    <img class="logo" src="assets/img/logo.svg" alt="" />
  </header>
  <form class="dialog-container" (ngSubmit)="changePassword()">
    <div class="headline">
      <a [routerLink]="['/login']">
        <div class="img-container">
          <img
            class="arrow-back"
            src="assets/img/icons/arrow-back.svg"
            alt="Arrow Back Icon"
          />
          <img
            class="arrow-back-hover"
            src="assets/img/icons/arrow-back-hover.svg"
            alt="Arrow Back Icon"
          />
        </div>
      </a>
      <h1>Passwort zurücksetzten</h1>
      <div></div>
    </div>
    <div class="dialog-box"> 
      <div class="input-password">
          <div
            class="input-container"
             [ngClass]="{ 'input-focused': isPasswordFocused }"
          >
            <!-- <img src="assets/img/icons/lock-icon.svg" alt="Lock Icon" /> -->
            <input
              [(ngModel)]="password"
              name="password"
              type="password"
              placeholder="Neues Passwort"
              required
              #passwordField
              (focus)="onFocus('password')"
              (blur)="
                onBlur(); isPasswordValid = passwordPattern.test(password)
              "
              (input)="onPasswordChange()"
            />
          </div>
          <!-- @if(passwordError && (password || !isPasswordValid)) {
          <p class="error-message">{{ passwordError }}</p>
          }
        </div> -->
      </div>    
      <div class="input-password">
          <div
            class="input-container"
            [ngClass]="{ 'input-focused': isConfirmPasswordFocused }"
          >
            <!-- <img src="assets/img/icons/lock-icon.svg" alt="Lock Icon" /> -->
            <input
              [(ngModel)]="password"
              name="confirmPassword"
              type="password"
              placeholder="Neues Passwort bestätigen"
              required
              #passwordField
              (focus)="onFocus('confirmPassword')"
              (blur)="
                onBlur(); isPasswordValid = passwordPattern.test(password)
              "
              (input)="onPasswordChange()"
            />
          </div>
          <!-- @if(passwordError && (password || !isPasswordValid)) {
          <p class="error-message">{{ passwordError }}</p>
          }
        </div> -->
      </div>          
    </div>

    <div class="dialog-button">
      <button
          type="submit"           
        >
        Passwort ändern
        </button>
    </div>
  </form>

  <!-- @if(showOverlay) {
    <div class="overlay" [class.show]="showOverlay">
      <div class="overlay-content">
        <p>E-Mail gesendet!</p>
      </div>
    </div>
  } -->

  <footer>
    <div class="link-container">
      <a [routerLink]="['/legal']">Impressum</a>
    </div>
    <div class="link-container">
      <a [routerLink]="['/policy']">Datenschutz</a>
    </div>
  </footer>
</section>


