@import './../../../../styles.scss';

section {
  height: 100vh;
  @include dFlex($jc: space-between);
  flex-direction: column;
}

header {
  @include dFlex($jc: flex-start);
  width: 100%;
  padding: 75px 0px 0px 75px;
  margin-bottom: 50px;

  .logo {
    width: 242px;
    height: 70px;
  }
}

.dialog-container {
  @include dFlex($g: 40px);
  flex-direction: column;
  background-color: $white;
  width: 36.04vw;
  max-width: 692px;
  min-width: 500px;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.headline {
  @include dFlex($jc: space-between, $g: 16px);
  width: 100%;
  padding: 0px 20px 0px 20px;

  >div,
  .img-container {
    width: 40px;
    height: 40px;
    @include dFlex();
  }

  .img-container {

    .arrow-back-hover {
      display: none;
    }

    &:hover {

      background-color: $ice_blue;
      border-radius: 50%;

      .arrow-back {
        display: none;
      }

      .arrow-back-hover {
        display: block;
      }
    }
  }

  >h1 {
    @include font($fs: 48px, $fw: 700);
    color: $purple_1;
    text-align: center;
  }
}

.dialog-box {
  @include dFlex($g: 40px);
  flex-direction: column;
  width: 100%;
}

.input-password {
  @include dFlex($ai: flex-start);
  flex-direction: column;
  // width: 57.8%;
  // max-width: 400px;
  width: min(57.8%, 400px);
  min-width: 280px;
}

.input-container {
  @include dFlex($jc: flex-start, $g: 25px);
  width: 100%;
  background-color: $ice_blue;
  border: 1px solid $ice_blue;
  height: 60px;
  border-radius: 100px;
  padding: 18px 32px;

  &:hover {
    border: 1px solid $textGray;
  }

  &.input-invalid {
    border: 1px solid $red;
  }

  &.input-focused {
    border: 1px solid $purple_3;
  }
}

input {
  all: unset;
  height: 24px;
  @include font($fs: 18px, $fw: 500);
  cursor: text;
  flex: 1;
}

input:focus {
  outline: none;
}

.dialog-button {
  @include dFlex($jc: flex-end);
  width: min(57.8%, 400px);

  >button {
    @include font($fs: 18px, $fw: 400);
    border-radius: 25px;
    border: unset;
    padding: 12px 25px;
    height: 49px;
    cursor: pointer;
    background-color: $textGray;
    color: $white;

    cursor: not-allowed;

    &.active {
      background-color: $purple_1;
      cursor: pointer;
    }
  }

  .btn-guest-login {
    background-color: transparent;
    color: $purple_1;
    border: 1px solid;
    border-color: $purple_2;

    &:hover {
      background-color: $purple_1;
      color: $white;
    }
  }
}

footer {
  @include dFlex($g: 10px);
  color: $purple_2;
  padding: 75px 0px 40px 0px;

  .link-container {
    @include dFlex();
    width: 140px;

    >a {
      @include font($fs: 18px, $fw: 400);
      padding: 10px 15px;
    }

    border: 1px solid $ice_blue;
    border-radius: 25px;

    &:hover {
      color: $purple_1;
      border: 1px solid;
      border-radius: 25px;
      border-color: $lightPurple;

      >a {
        @include font($fs: 18px, $fw: 700);
      }
    }
  }

  >a {
    padding: 10px 15px;
    border: 1px solid $lightPurple;
    border-radius: 25px;

    &:hover {
      color: $purple_1;
      @include font($fs: 18px, $fw: 700);
      border: 1px solid;
      border-radius: 25px;
      border-color: $lightPurple;
    }
  }
}

/*--------------------------------------------------   Mobile   --------------------------------------------------*/
@media(max-width: 600px) {

  header {
    @include dFlex();
    padding: 75px 0px 0px 0px;

    .logo {
      width: 204px;
      height: 56px;
    }
  }

  .dialog-container {
    width: 92.55vw;
    max-width: 398px;
    min-width: 300px;
  }

  .headline {
    width: 92.55vw;
    max-width: 398px;
    min-width: 300px;
    padding: 0px 20px 0px 20px;

    >h1 {
      @include font($fs: 32px, $fw: 700);
    }
  }

  .input-password {
    @include dFlex();
    width: 100%;
  }

  .input-container {
    width: 90%;
    height: 50px;
    border-radius: 100px;
    padding: 13px 32px;
  }
}

@media(max-width:400px) {

  input {
    height: 22px;
    @include font($fs: 16px, $fw: 500);
    cursor: text;
    flex: 1;
  }
}