<section class="content_max">
  <header>
    <img class="logo" src="assets/img/logo.svg" alt="" />
  </header>
  <div class="legalnotices">
    <div class="headline">
      <a [routerLink]="['/']">
        <div class="img-container">
          <img
            class="arrow-back"
            src="assets/img/icons/arrow-back.svg"
            alt="Arrow Back Icon"
          />
          <img
            class="arrow-back-hover"
            src="assets/img/icons/arrow-back-hover.svg"
            alt="Arrow Back Icon"
          />
        </div>
      </a>      
    </div>

    <div>
      <h1>Impressum</h1>
      <p>
        Martin Bock<br />
        Becherweg 30<br />
        13407 Berlin<br />
      </p>
    </div>
    <div>
      <h2>Kontakt:</h2>
      <p>E-Mail: kontakt&#64;martin-bock.info
      </p>
    </div>   
  </div>
</section>
