<div class="profile-edit-overlay">
  <div class="profile-edit-container">
    <div class="profile-edit-header">
      <h1>Dein Profil bearbeiten</h1>
      <img
        class="close-btn"
        src="assets/img/icons/close-icon.svg"
        alt="Schließen"
        (click)="close.emit()"
      />
    </div>

    <img class="profile-avatar" [src]="userData?.avatar" alt="Profilbild" />

    <div class="name-edit">
      <!-- <img src="assets/img/icons/account-circle-icon.svg" alt="Account Circle Icon">
      <h2>Vollständiger Name</h2>
      <input
        type="text"
        [(ngModel)]="updatedName"
        [placeholder]="userData?.name"
      /> -->
      <div class="name-edit-header">
        <img src="assets/img/icons/account-circle-icon.svg" alt="Account Circle Icon">
        <h2>Vollständiger Name</h2>        
      </div>
      <div
        class="input-container"
        [ngClass]="{ 'input-focused': focusedInput === 'name' }"
        (click)="focusInput(nameField)"
      >
        <input
          [(ngModel)]="updatedName"
          name="name"
          type="text"
          [placeholder]="isInputFocused ? '' : userData?.name"
          #nameField
          (focus)="onFocus('name')"
          (blur)="onBlur()"
        />
      </div>
    </div>

    <div class="button-group">
      <button class="cancel-btn" (click)="close.emit()">Abbrechen</button>
      <button class="save-btn" (click)="saveEdit()">Speichern</button>
    </div>
  </div>
</div>
