<div class="profile-edit-overlay">
  <div class="profile-edit-container">
    <div class="profile-edit-header">
      <h1>Dein Profil bearbeiten</h1>
      <img
        class="close-btn"
        src="assets/img/icons/close-icon.svg"
        alt="Schließen"
        (click)="close.emit()"
      />
    </div>
    
    <div class="avatar-edit">
      <h2>Avatar auswählen</h2>
      <img
        class="profile-avatar"
        [src]="'assets/img/char-icons/' + selectedAvatar || 'assets/img/char-icons/' + userData?.avatar"
        alt="Avatar Vorschau"
      />      
      <div class="avatar-list">
        @for(avatar of avatarOptions ; track avatar) {
          <img           
            [src]="'assets/img/char-icons/' + avatar"
            alt="Avatar"
            [class.selected]="selectedAvatar === avatar"
            (click)="selectAvatar(avatar)"
          />
        }
      </div>
    </div>

    <div class="name-edit">
      <div class="name-edit-header">
        <img
          src="assets/img/icons/account-circle-icon.svg"
          alt="Account Circle Icon"
        />
        <h2>Vollständiger Name</h2>
      </div>
      <div
        class="input-container"
        [ngClass]="{ 'input-focused': focusedInput === 'name' }"
        (click)="focusInput(nameField)"
      >
        <input
          [(ngModel)]="updatedName"
          name="name"
          type="text"
          [placeholder]="userData?.name"
          #nameField
          (focus)="onFocus('name')"
          (blur)="onBlur()"
        />
      </div>
    </div>

    <div class="button-group">
      <button class="cancel-btn" (click)="close.emit()">Abbrechen</button>
      <button class="save-btn" (click)="saveEdit()">Speichern</button>
    </div>
  </div>
</div>
