@import './../../../../styles.scss';

.profile-edit-overlay {
  @include dFlex($jc: flex-end);
  position: fixed;
  top: 0;
  left: 0;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.profile-edit-container {
  @include dFlex($g: 38px);
  flex-direction: column;
  background: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 45px 40px;
  width: 500px;
  position: absolute;
  top: 100px;
  right: 25px;
}

.profile-edit-header {
  @include dFlex($jc: space-between);
  width: 100%;

  >h1 {
    @include font($fs: 24px, $fw: 700);
  }
}

.close-btn {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:hover {
    background: $ice_blue;
    border-radius: 50%;
  }
}

.profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name-edit {
  @include dFlex($g: 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;


  .name-edit-header {
    @include dFlex($jc: flex-start, $g: 20px);
    width: 100%;

    >h2 {
      @include font($fs: 20px, $fw: 700);
    }
  }

  .input-container {
    @include dFlex($jc: flex-start, $g: 25px);
    width: 100%;
    border: 1px solid $lightPurple;
    border-radius: 100px;
    padding: 15px 20px;
    color: $textGray;

    &.input-focused {
      border: 1px solid $purple_3;
    }
  }

  input {
    all: unset;
    height: 24px;
    @include font($fs: 18px, $fw: 500);
    cursor: text;
    flex: 1;

    &::placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
      /* Sanfte Übergänge für den Placeholder */
    }

    &:focus::placeholder {
      opacity: 0;
      /* Placeholder ausblenden, wenn das Input-Feld den Fokus hat */
    }
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;

  button {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .cancel-btn {
    background-color: #e0e0e0;
    color: #333;
  }

  .save-btn {
    background-color: #7b61ff;
    color: white;

    &:hover {
      background-color: #6149e1;
    }
  }
}