@import './../../../styles.scss';

section {
  height: 100vh;
}

.content {
  @include dFlex($jc: flex-start, $ai: center);
  height: calc(100vh - 120px);
  width: 100%;
  position: relative;
}

.workspace-menu-buttons {
  @include dFlex();
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 347px;
  cursor: pointer;

  .menu-close-hover,
  .menu-open-hover {
    display: none;
  }

  &:hover {
    .menu-close {
      display: none;
    }

    .menu-close-hover {
      display: block;
    }

    .menu-open {
      display: none;
    }

    .menu-open-hover {
      display: block;
    }
  }
}

.slide-out {
  transform: translateX(-120%);
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.left {
  @include dFlex($jc: flex-start, $ai: center, $g: 25px);
  flex-direction: column;
  height: calc(100% - 50px);
  width: 19.1vw;
  max-width: 366px;
  min-width: 300px;
  padding: 32px 30px;
  margin-left: 25px;
  background-color: $white;
  border-radius: 30px;
  transition: all 0.4s ease;
  flex-shrink: 0;
}

.headline {
  @include dFlex($jc: flex-start, $g: 15px);
  width: 100%;

  .devspace-logo {
    width: 60px;
    height: 60px;
  }

  .bg-icon {
    width: 40px;
    height: 40px;
    @include dFlex();
    cursor: pointer;

    .edit-square-icon-hover {
      display: none;
    }

    .edit-square-icon,
    .edit-square-icon-hover {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: $ice_blue;
      border-radius: 50%;

      .edit-square-icon {
        display: none;
      }

      .edit-square-icon-hover {
        display: block;
      }
    }
  }

  h1 {
    @include font($fs: 24px, $fw: 700);
    flex: 1;
  }
}

.channels-headline,
.messages-headline {
  @include dFlex($jc: space-between);
  width: 100%;
  cursor: pointer;
  position: relative;

  .channels-headline-container,
  .messages-headline-container {
    @include dFlex();
    flex: 1;

    .icon-down,
    .icon-right {
      display: none;
    }

    .active {
      display: block;
    }

    .drop-down-icon-blue,
    .drop-down-icon-right-blue,
    .icon-blue {
      display: none;
    }

    .drop-down-icon-right-black,
    .drop-down-icon-right-blue {
      transform: rotate(-90deg);
      // display: none;
    }

    &:hover {

      .drop-down-icon-blue,
      .drop-down-icon-right-blue,
      .icon-blue {
        display: block;
      }

      .drop-down-icon-black,
      .drop-down-icon-right-black,
      .icon-black {
        display: none;
      }

      .headline-text {
        color: $purple_3;
      }
    }

    .channels-headline-text,
    .messages-headline-text {
      @include dFlex($jc: flex-start, $g: 10px);
      @include font($fs: 20px, $fw: 700);
      flex: 1;
      padding-left: 15px;

      .channels-icon,
      .messages-icon {
        @include dFlex();
      }
    }
  }
}

.icon-down,
.icon-right {
  @include dFlex();
  width: 30px;
  height: 30px;
}

.add-channel {
  @include dFlex();
  width: 30px;
  height: 30px;

  .plus-icon-hover {
    display: none;
  }

  &:hover {
    .plus-icon {
      display: none;
    }

    .plus-icon-hover {
      display: block;
    }
  }
}

.channels {
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 10px);
  flex-direction: column;
  width: 100%;

  .channel-names {
    @include dFlex($jc: flex-start);
    @include font($fs: 18px, $fw: 700);
    flex: 1;
    color: $purple_3;

    .hashtag-icon-blue,
    .hashtag-icon-black {
      width: 24px;
      height: 24px;
    }

    .hashtag-icon-black {
      display: none;
    }
  }

  .channel-names-center-container {
    @include dFlex($jc: flex-start, $g: 10px);
    width: 100%;
    padding: 4px 20px;
    border-radius: 20px;
    background-color: $ice_blue;
  }
}

.channel-add {
  @include dFlex($jc: flex-start);
  width: 100%;
  cursor: pointer;

  .add-channel-icon-black,
  .add-channel-icon-blue {
    width: 24px;
    height: 24px;
  }

  .add-channel-icon-blue {
    display: none;
  }

  .add-channel-text {
    @include font($fs: 18px, $fw: 400);
  }

  &:hover {
    .add-channel-icon-black {
      display: none;
    }

    .add-channel-icon-blue {
      display: block;
    }

    .add-channel-text {
      color: $purple_3;
    }
  }

  .center-container {
    @include dFlex($jc: flex-start, $g: 10px);
    width: 100%;
    padding: 4px 20px;
    // border-radius: 20px;
    // background-color: $ice_blue;
  }
}



.messages {
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 10px);
  flex-direction: column;
  width: 100%;

  .messages-user {
    @include dFlex($jc: flex-start);
    @include font($fs: 18px, $fw: 400);
    flex: 1;

    .messages-user-container {
      @include dFlex($jc: flex-start, $g: 15px);
      width: 100%;
      padding: 4px 20px;

      .avatar-icon {
        position: relative;
        width: 50px;
        height: 50px;

        .user-avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .active {
          position: absolute;
          background-color: $online;
          right: 1px;
          bottom: 0px;
          border-radius: 50%;
          width: 14px;
          height: 14px;
          border: 2px #edefff solid;
          z-index: 5;
        }
      }

    }
  }
}



.center {
  @include dFlex($jc: center, $ai: center, $g: 16px);
  flex-direction: column;
  height: calc(100% - 50px);
  flex: 1;
  padding: 32px 30px;
  background-color: $white;
  border-radius: 30px;
  margin-left: 25px;
  margin-right: 25px;
  transition: all 0.4s ease;
}

// Wenn .left ausgeblendet ist, nimmt .center mehr Platz ein
.left-hidden {
  .center {
    margin-left: 25px;
  }
}

.right {
  @include dFlex($jc: center, $ai: center, $g: 16px);
  flex-direction: column;
  height: calc(100% - 50px);
  width: 25.26vw;
  max-width: 485px;
  min-width: 350px;
  padding: 32px 30px;
  margin-right: 25px;
  background-color: $white;
  border-radius: 30px;
}