<section>
  <app-header></app-header>

  <div class="content">
    <div class="left">
      <div class="headline"> 
        <img class="devspace-logo" src="assets/img/icons/devspace-logo.svg" alt="Devspace Logo">
        <h1>Devspace</h1>
        <div class="bg-icon">
          <img class="edit-square-icon" src="assets/img/icons/edit-square-icon-black.svg" alt="Edit Icon">
          <img class="edit-square-icon-hover" src="assets/img/icons/edit-square-icon-purple.svg" alt="Edit Icon">
        </div>
      </div>
    </div>

    <div class="center">Test</div>
    <!-- <div class="right">Test</div> -->
  </div>
</section>
