@import './../../../../styles.scss';

section {
  height: 100vh;
  @include dFlex($jc: flex-start);
  flex-direction: column;
}

header {
  @include dFlex($jc: flex-start);
  width: 100%;
  padding: 75px 0px 0px 75px;
  margin-bottom: 50px;
}

.dialog-container {
  @include dFlex($g: 40px);
  flex-direction: column;
  background-color: $white;
  width: 31.56vw;
  max-width: 606px;
  min-width: 500px;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.headline {
  @include dFlex($jc: space-between, $g: 16px);
  width: 100%;
  padding: 0px 20px 0px 20px;

  >div,
  .img-container {
    width: 40px;
    height: 40px;
    @include dFlex();
  }

  .img-container {

    .arrow-back-hover {
      display: none;
    }

    &:hover {

      background-color: $ice_blue;
      border-radius: 50%;

      .arrow-back {
        display: none;
      }

      .arrow-back-hover {
        display: block;
      }
    }
  }

  .arrow-back,
  .arrow-back-hover {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  >h1 {
    @include font($fs: 46px, $fw: 700);
    color: $purple_1;
    text-align: center;
  }
}

.avatar {
  width: 168px;
  height: 168px;
  border-radius: 50%;
}

.user-box {
  @include dFlex($g: 10px);
  flex-direction: column;
  width: 82.5%;
  max-width: 486px;

  >h2 {
    @include font($fs: 32px, $fw: 700);
  }

  >p {
    @include dFlex($jc: flex-start);
    @include font($fs: 18px, $fw: 400);
    width: 100%;
  }
}


.avatar-list {
  @include dFlex($g: 10px);

  >img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.dialog-button {
  @include dFlex($jc: flex-end);
  width: 100%;
  padding-right: 40px;

  button {
    @include font($fs: 18px, $fw: 700);
    border-radius: 25px;
    border: unset;
    background-color: $purple_1;
    color: $white;
    width: 107px;
    height: 49px;
    cursor: pointer;

    &:hover {
      background-color: $purple_2;
    }
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background: $purple_1;
  color: $white;
  padding: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  @include font($fs: 36px, $fw: 700);
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  pointer-events: none;

  &.show {
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    opacity: 1;
    pointer-events: all;
  }
}

.overlay-content {
  text-align: center;
}

footer {
  @include dFlex($g: 50px);
  @include font($fs: 18px, $fw: 400);
  color: $purple_2;
  width: 100%;
  padding: 75px 0px 40px 0px;
}

/*--------------------------------------------------   Mobile   --------------------------------------------------*/
@media(max-width: 600px) {
  header {
    @include dFlex();
    padding: 75px 0px 0px 0px;

    >img {
      width: 204px;
      height: 56px;
    }
  }

  .dialog-container {
    @include dFlex($g: 24px);
    width: 92.55vw;
    max-width: 398px;
    min-width: 300px;
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .headline {
    @include dFlex($jc: space-between, $g: 15px);
    width: 89.45vw;
    max-width: 356px;
    min-width: 300px;
    padding: 0px 0px 0px 0px;

    >div,
    .img-container {
      width: 40px;
      height: 40px;
      @include dFlex();
    }

    >h1 {
      @include font($fs: 32px, $fw: 700);
      color: $purple_1;
      text-align: center;
    }
  }

  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .user-box {
    @include dFlex($g: 10px);
    flex-direction: column;
    width: 89.45vw;
    max-width: 356px;

    >h2 {
      @include font($fs: 32px, $fw: 700);
    }

    >p {
      @include font($fs: 20px, $fw: 400);
    }
  }

  .avatar-list {
    @include dFlex($g: 10px);
    flex-wrap: wrap;
    width: 89.45vw;
    max-width: 356px;
    min-width: 300px;
    min-height: 56px;

    >img {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

    .overlay {
      position: fixed;
      bottom: 40px;
      right: 10px;
      padding: 20px;
      @include font($fs: 22px, $fw: 700);
    }
}

@media(max-width: 400px) {
  .avatar-list {
    @include dFlex($g: 20px);
  }
}