<section class="content_max">
  <!-------------------------------------------------- Start Animation -------------------------------------------------->
  <div class="container-left" [ngClass]="{ 'fade-out': faded }">
    <div class="logo-container slide-left">
      <img class="logo-mini" src="assets/img/logo-mini.svg" />
    </div>
  </div>
  <div class="container-right" [ngClass]="{ 'fade-out': faded }">
    <div class="text-container slide-right">
      <p class="text">DABubble</p>
    </div>
  </div>

  <div class="container">
    @if(isLogoVisible) {
      <header>
        <img
          class="animated-logo"
          [ngClass]="{ 'slide-tl': isLogoVisible }"
          [ngClass]="{ 'logo-final-position': isLogoShifted }"
          src="assets/img/logo.svg"
          alt="Logo"
        />
        <div class="signup">
          <p>Neu bei DABubble?</p>
          <div class="link">
            <a [routerLink]="[ '/signup' ]">Konto erstellen</a>
          </div>
        </div>

      </header>
    <!-------------------------------------------------- End Start Animation -------------------------------------------------->
    <form class="dialog-container" (ngSubmit)="onSubmit()">
      <div class="headline">
        <h1>Anmeldung</h1>
      </div>
      <p class="subtext">
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </p>
      <div class="dialog-box">
        <div class="input-email">
          <div
            class="input-container"
            [ngClass]="{
              'input-focused': focusedInput === 'email',
              'input-invalid': emailError
            }"
          >
            <img src="assets/img/icons/mail-icon.svg" alt="Mail Icon" />
            <input
              [(ngModel)]="email"
              name="email"
              type="email"
              placeholder="beispielname@email.com"
              required
              #emailField
              (focus)="onFocus('email')"
              (blur)="onBlur(); isEmailValid = eMailPattern.test(email)"
              (input)="onEmailChange()"
            />
          </div>
          @if(emailError && (email || !isEmailValid)) {
          <p class="error-message">{{ emailError }}</p>
          }
        </div>

        <div class="input-password">
          <div
            class="input-container"
            [ngClass]="{
              'input-focused': focusedInput === 'password',
              'input-invalid': passwordError
            }"
          >
            <img src="assets/img/icons/lock-icon.svg" alt="Lock Icon" />
            <input
              [(ngModel)]="password"
              name="password"
              type="text"
              placeholder="Passwort"
              required
              #passwordField
              (focus)="onFocus('password')"
              (blur)="
                onBlur(); isPasswordValid = passwordPattern.test(password)
              "
              (input)="onPasswordChange()"
            />
          </div>
          @if(passwordError && (password || !isPasswordValid)) {
          <p class="error-message">
            {{ passwordError }}
          </p>
          }
        </div>
      </div>

      <div class="dialog-button">
        <button
          type="submit"
          [disabled]="!email || !password || emailError || passwordError"
        >
          Anmelden
        </button>
      </div>
    </form>

    <footer>
      <a [routerLink]="['/legal']">Impressum</a>
      <a [routerLink]="['/policy']">Datenschutz</a>
    </footer>
    }
  </div>
</section>
