@import './../../../styles.scss';

/*--------------------------------------------------   Start Animation   --------------------------------------------------*/
.start-animation {
  position: relative;
  @include dFlex($jc: space-between);
  width: 100%;
  height: 100vh;
  background-color: transparent;
  transition: opacity 0.5s ease-in-out;

  &.hidden {
    display: none;
  }
}

.start-container {
  width: 100%;
  height: 100%;
  @include dFlex();
  background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
  transition: opacity 0.3s ease-in-out;
}

.logo-mini-container {
  @include dFlex($jc: flex-end);
  background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
  width: 550px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: calc(50% - 275px);
  transform: translate(-50%, -50%);
  z-index: 5;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

@keyframes slide-left {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) translateX(-130px);
  }
}

.slide-left {
  animation: slide-left 0.5s linear 1.5s forwards;
}

.logo-mini {
  width: 187px;
  height: 184px;
}

.text-container {
  @include dFlex();
  height: 100vh;
  width: 435px;
  position: absolute;
  top: 50%;
  left: calc(50% - 340px);
  transform: translate(-50%, -50%);
}

.text {
  @include dFlex();
  @include font($fs: 85px, $fw: 700);
  color: $white;
}

@keyframes slide-right {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-50%, -50%) translateX(445px);
  }
}

.slide-right {
  animation: slide-right 0.3s ease-in both;
  animation-delay: 2.5s;
}

.animated-logo {
  position: absolute;
  height: 184px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 1s ease-in-out;
  z-index: 100;

  &.logo-final-position {
    width: 242px;
    height: 70px;
    top: 75px;
    left: 75px;
    transform: translate(0%, 0%) scale(1);
  }
}

/*--------------------------------------------------   Container final   --------------------------------------------------*/

.login-section {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.visible {
    display: flex;
    opacity: 1;
  }
}

.container {
  @include dFlex($jc: space-between);
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;

  &.start-container {
    display: none;
    width: 0px;
  }
}

header {
  @include dFlex($jc: flex-start);
  width: 100%;
  padding: 75px 0px 0px 75px;
  margin-bottom: 50px;

  .logo {
    width: 242px;
    height: 70px;
  }
}

.signup {
  @include dFlex();
  flex-direction: column;
  position: absolute;
  top: 75px;
  right: 75px;

  >p,
  a {
    @include font($fs: 18px, $fw: 400);
  }

  .link {
    @include dFlex();
    width: 153px;
    height: 42px;

    &:hover {
      border: 1px solid;
      border-radius: 25px;
      width: 100%;
      color: $lightPurple;
    }

    >a {
      @include dFlex();
      @include font($fs: 18px, $fw: 400);
      color: $purple_2;
      width: 100%;

      &:hover {
        color: $purple_1;
        text-decoration: none;
      }
    }
  }
}

/*--------------------------------------------------   Login   --------------------------------------------------*/

.dialog-container {
  @include dFlex($g: 40px);
  flex-direction: column;
  background-color: $white;
  width: 31.56vw;
  max-width: 606px;
  min-width: 500px;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.headline {
  @include dFlex();
  width: 100%;
  padding: 0px 20px 0px 20px;

  >h1 {
    @include font($fs: 46px, $fw: 700);
    color: $purple_1;
    text-align: center;
  }
}

.subtext {
  text-align: center;
  width: 82.5%;
  max-width: 486px;

  >p {
    @include font($fs: 20px, $fw: 400);
  }
}

.dialog-box {
  @include dFlex($g: 40px);
  flex-direction: column;
  width: 100%;
}

.input-email,
.input-password,
.input-google-login {
  @include dFlex($ai: flex-start);
  flex-direction: column;
  width: 82.5%;
  max-width: 486px;
}

.input-container {
  @include dFlex($jc: flex-start, $g: 25px);
  width: 100%;
  background-color: $ice_blue;
  border: 1px solid $ice_blue;
  height: 60px;
  border-radius: 100px;
  padding: 18px 32px;

  &:hover {
    border: 1px solid $textGray;
  }

  &.input-invalid {
    border: 1px solid $red;
  }

  &.input-focused {
    border: 1px solid $purple_3;
  }
}

input {
  all: unset;
  height: 24px;
  @include font($fs: 18px, $fw: 500);
  cursor: text;
  flex: 1;
}

input:focus {
  outline: none;
}

.google-login {
  @include dFlex($g: 20px);
  cursor: pointer;
  @include font($fs: 17px, $fw: 400);
  color: $purple_1;

  &:hover {
    border-color: $purple_1;
    @include font($fs: 17px, $fw: 700);
  }
}

.forgot-password {
  @include dFlex();
  width: 100%;
  padding: 0px 20px 0px 20px;

  >a {
    @include font($fs: 18px, $fw: 400);
    color: $purple_2;
    padding: 5px 15px;


    &:hover {
      @include font($fs: 18px, $fw: 500);
      color: $purple_1;
      border-radius: 30px;
      background-color: $ice_blue;
    }
  }
}

.line-blue {
  position: relative;
  width: 82.5%;
  max-width: 486px;
  @include dFlex();
  height: 30px;

  >img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  >p {
    @include dFlex();
    position: absolute;
    width: 80px;
    background-color: $white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.dialog-button {
  @include dFlex($g: 30px);
  width: 100%;

  .btn-login,
  .btn-guest-login {
    @include font($fs: 18px, $fw: 700);
    border-radius: 25px;
    border: unset;
    width: 137px;
    height: 49px;
    cursor: pointer;
  }

  .btn-login {
    background-color: $purple_1;
    color: $white;

    &:hover {
      background-color: $purple_2;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .btn-guest-login {
    background-color: transparent;
    color: $purple_1;
    border: 1px solid;
    border-color: $purple_2;

    &:hover {
      background-color: $purple_1;
      color: $white;
    }
  }
}

footer {
  @include dFlex($g: 10px);  
  color: $purple_2;
  padding: 75px 0px 40px 0px;

  .link-container {
    @include dFlex();
    width: 140px;

    >a {
      @include font($fs: 18px, $fw: 400);
      padding: 10px 15px;
    }

    border: 1px solid $ice_blue;
    border-radius: 25px;

    &:hover {
      color: $purple_1;
      border: 1px solid;
      border-radius: 25px;
      border-color: $lightPurple;

      >a {
        @include font($fs: 18px, $fw: 700);
      }
    }
  }

  >a {
    // width: 100%;
    padding: 10px 15px;
    border: 1px solid $lightPurple;
    border-radius: 25px;

    &:hover {
      color: $purple_1;
      @include font($fs: 18px, $fw: 700);
      border: 1px solid;
      border-radius: 25px;
      border-color: $lightPurple;
      // width: 100%;
    }
  }
}

/*--------------------------------------------------   Mobile   --------------------------------------------------*/
@media(max-width: 600px) {

  .start-animation {
    @include dFlex();
    flex-direction: column;
  }

  /*--------------------------------------------------   Logo Mini   --------------------------------------------------*/
  .logo-mini-container {
    width: 300px;
    left: calc(50% - 150px);
  }

  .logo-mini {
    width: 69px;
    height: 69px;
  }

  @keyframes slide-left-mobile {
    0% {
      transform: translate(-50%, -50%);
    }

    100% {
      transform: translate(-50%, -50%) translateX(-50px);
    }
  }

  .slide-left-mobile {
    animation: slide-left-mobile 0.5s linear 1.5s forwards;
  }

  /*--------------------------------------------------   Logo Mini End   --------------------------------------------------*/
  /*--------------------------------------------------   Text Mini   --------------------------------------------------*/
  .text-container {
    width: 135px;
    position: absolute;
    top: 50%;
    left: calc(50% - 150px);
    transform: translate(-50%, -50%);
  }

  .text {
    @include dFlex();
    @include font($fs: 32px, $fw: 700);
    color: $white;
  }

  @keyframes slide-right-mobile {
    0% {
      transform: translate(-50%, -50%);
    }

    100% {
      transform: translate(-50%, -50%) translateX(190px);
    }
  }

  .slide-right-mobile {
    animation: slide-right-mobile 0.3s ease-in both;
    animation-delay: 2.5s;
  }

  /*--------------------------------------------------   Text Mini End   --------------------------------------------------*/

  .animated-logo {
    position: absolute;
    height: 69px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.5s ease-in-out;
    z-index: 100;

    &.logo-final-position {
      @include dFlex();
      width: 242px;
      height: 70px;
      top: 92px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  header {
    @include dFlex();
    padding: 0px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 50px;

    .animated-logo {
      @include dFlex();
      width: 204px;
      height: 56px;
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      transition: none;
    }
  }

  .dialog-container {
    @include dFlex($g: 20px);
    width: 92.55vw;
    max-width: 398px;
    min-width: 300px;
    padding: 35px 20px;
    margin-top: 50px;
  }

  .headline {
    width: 89.94vw;
    max-width: 358px;
    min-width: 270px;

    >h1 {
      @include font($fs: 32px, $fw: 700);
    }
  }

  .subtext {
    width: 89.94vw;
    max-width: 358px;
    min-width: 270px;

    >p {
      @include font($fs: 17px, $fw: 400);
    }
  }

  .dialog-box {
    @include dFlex($g: 30px);
  }

  .input-email,
  .input-password,
  .input-google-login {
    width: 89.94vw;
    max-width: 358px;
    min-width: 270px;
  }

  .input-container {

    &:hover {
      border: unset;
    }
  }

  .line-blue {
    // position: relative;
    width: 92.55vw;
    max-width: 398px;
    min-width: 300px;
    // @include dFlex();
    // height: 30px;

    >img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
    }

    >p {
      @include dFlex();
      position: absolute;
      width: 80px;
      background-color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  .google-login {
    @include dFlex($g: 20px);
    cursor: pointer;
    @include font($fs: 17px, $fw: 400);
    color: $purple_1;

    &:hover {
      @include font($fs: 17px, $fw: 400);
      border: unset;
    }
  }

  .signup {
    @include dFlex($g: 20px);
    position: relative;
    top: auto;
    right: auto;
    margin-top: 50px;

    .link {
      border: 1px solid;
      border-radius: 25px;
      border-color: $purple_2;
      width: 100%;

      &:hover {
        border-color: $purple_2;
      }

      >a {
        color: $purple_1;
        width: 100%;
      }
    }
  }
}

footer {
  padding: 50px 0px 40px 0px;

  >a {
    color: $purple_1;
    width: 100%;
    padding: 10px 15px;

    &:hover {
      border: 1px solid;
      border-radius: 25px;
      border-color: $purple_2;
      width: 100%;
    }
  }
}

@media(max-width: 400px) {

  .input-container {
    @include dFlex($jc: flex-start, $g: 20px);
    padding: 13px 22px;
  }

  input {
    @include font($fs: 16px, $fw: 500);
  }
}