@import './../../../styles.scss';

section {
  height: 120px;
  @include dFlex($jc: flex-start);
}

.content {
  width: 100%;
  @include dFlex($jc: flex-start, $ai: center, $g: 25px);
  position: relative;
}

.logo-container {
  @include dFlex($jc: flex-start);
  width: 19.1vw;
  max-width: 366px;
  min-width: 250px;
  margin-right: 25px;

  .logo {
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-left: 45px;
    margin-bottom: 16px;
    padding-right: 20px;
  }
}

.search-container {
  @include dFlex($jc: space-between, $ai: center, $g: 25px);
  flex: 1;
  height: 70px;
  background-color: $white;
  border-radius: 42px;
  padding: 17.5px 45px;

  .searchbar-icon {
    width: 35px;
    height: 35px;
  }

  .search-field {
    flex: 1;
    height: 100%;
    border: none;
    background-color: transparent;
    @include font($fs: 24px, $fw: 400);
    cursor: text;

    &:focus {
      outline: none;
      border: none;
      padding-left: 40px;
    }

    &.active {
      background-image: url('./../../../assets/img/icons/at-email-black.svg');
      background-repeat: no-repeat;
      background-position: left center;
    }

    &:focus::placeholder {
      visibility: hidden;
    }

    &::placeholder {
      color: $textGray;
    }

  }
}

.profil-menu {
  @include dFlex($jc: flex-end, $g: 20px);
  width: 25.26vw;
  max-width: 485px;
  margin-right: 25px;
  cursor: pointer;

  >p {
    @include font($fs: 32px, $fw: 700);
  }

  .profil-icon {
    position: relative;
    width: 70px;
    height: 70px;

    border: 1px solid;

    .char-icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .active {
      position: absolute;
      background-color: rgb(146, 199, 62);
      right: 1px;
      bottom: 0px;
      border-radius: 50%;
      width: 16.67px;
      height: 16.67px;
      border: 2px #edefff solid;
      z-index: 5;
    }
  }


  .arrow-listbox-down,
  .arrow-listbox-down-hover {
    width: 30px;
    height: 30px;
  }

  .arrow-listbox-down-hover {
    display: none;
  }

  &:hover {
    >p {
      color: $purple_2;
    }

    .arrow-listbox-down {
      display: none;
    }

    .arrow-listbox-down-hover {
      display: block;
    }
  }
}

/*--------------------------------------------------  BOF Overlay Styles Profil-Menu  --------------------------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-container {
  position: absolute;
  top: 100px;
  right: 25px;
  background-color: $white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 281px;
  height: 181px;
  padding: 30px;
  @include dFlex($g: 15px);
  flex-direction: column;

  >p {
    width: 222px;
    height: 53px;
    padding: 10px 0;
    cursor: pointer;
    @include dFlex();
    @include font($fs: 24px, $fw: 600);

    &:hover {
      background-color: $ice_blue;
      border-radius: 53px;
    }
  }

  .disabled-link {
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
    /* Verhindert, dass der Benutzer auf den Button klickt */
  }
}

/*--------------------------------------------------  EOF Overlay Styles Profil-Menu  --------------------------------------------------*/