<section class="content-max">
  <div class="content">
    <div class="logo-container">
      <img class="logo" src="assets/img/logo.svg" alt="Logo" />
    </div>

    <div class="search-container">
      <input
        class="search-field"
        type="text"
        [(ngModel)]="searchText"
        (focus)="onFocus()"
        (blur)="onBlur()"
        [ngClass]="{ active: isActive }"
        placeholder="Devspace durchsuchen"
      />
      <img
        class="searchbar-icon"
        src="assets/img/icons/searchbar-icon.svg"
        alt=""
      />
    </div>

    <div class="profil-menu" (click)="toggleOverlay()">
      <p>{{ userData?.name }}</p>
      <div class="profil-icon">
        <img
          class="char-icon"
          src="assets/img/char-icons/{{ userData?.avatar }}"
          alt="Char Icon"
        />
        <span class="active"></span>
      </div>
      <img
        class="arrow-listbox-down"
        src="assets/img/icons/arrow-listbox-down-black.svg"
        alt="Arrow down"
      />
      <img
        class="arrow-listbox-down-hover"
        src="assets/img/icons/arrow-listbox-down-hover-purple.svg"
        alt="Arrow down"
      />
    </div>

    <!-- Overlay and menu container -->
    @if(isOverlayVisible) {
    <div class="overlay" (click)="toggleOverlay()">
      <div class="menu-container" (click)="$event.stopPropagation()">
        <p
          [ngClass]="{ 'disabled-link': isGuestUser }"
          (click)="!isGuestUser && goToProfile()"
        >
          Profil
        </p>
        <p (click)="logout()">Log out</p>
      </div>
    </div>
    }
  </div>
</section>

@if(isProfileOverlayVisible) {
<app-profil-overlay
  [userData]="userData"
  (close)="closeProfileOverlay()"
  (edit)="openProfileEditOverlay()"
></app-profil-overlay>
} @if(isProfileEditOverlayVisible) {
<app-profil-edit-overlay
  [userData]="userData"
  (close)="closeProfileEditOverlay()"
>
</app-profil-edit-overlay>
}
