@import './../../../styles.scss';

section {
  height: 120px;
  @include dFlex($jc: flex-start);
}

.content {
  width: 100%;
  @include dFlex($jc: flex-start, $ai: center, $g: 25px);
  position: relative;
}

.logo-container {
  @include dFlex($jc: flex-start);
  width: 19.1vw;
  max-width: 366px;
  min-width: 250px;
  margin-right: 25px;

  .logo {
    width: 100%;
    height: auto;
    margin-top: 25px;
    margin-left: 45px;
    margin-bottom: 16px;
    padding-right: 20px;
  }
}

.search-container {
  @include dFlex($jc: space-between, $ai: center, $g: 25px);
  flex: 1;
  height: 70px;
  background-color: $white;
  border-radius: 42px;
  padding: 17.5px 45px;

  .searchbar-icon {
    width: 35px;
    height: 35px;
  }

  .search-field {
    flex: 1;
    height: 100%;
    border: none;
    background-color: transparent;
    @include font($fs: 24px, $fw: 400);
    cursor: text;

    // Remove border on focus
    &:focus {
      outline: none;
      border: none;
      padding-left: 40px;
    }

    // Add the background image when the input is focused
    &.active {
      background-image: url('./../../../assets/img/icons/at-email-black.svg');
      background-repeat: no-repeat;
      background-position: left center;
    }

    // Remove placeholder when the input is focused
    &:focus::placeholder {
      visibility: hidden; // Hide the placeholder on focus
    }

    // Default placeholder styling
    &::placeholder {
      color: $textGray;
    }

  }
}

.profil-menu {
  @include dFlex($jc: flex-end, $g: 20px);
  width: 25.26vw;
  max-width: 485px;
  margin-right: 25px;
  cursor: pointer;

  >p {
    @include font($fs: 32px, $fw: 700);
  }

  .char-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .arrow-listbox-down,
  .arrow-listbox-down-hover {
    width: 30px;
    height: 30px;
  }

  .arrow-listbox-down-hover {
    display: none;
  }

  &:hover {
    >p {
      color: $purple_2;
    }

    .arrow-listbox-down {
      display: none;
    }

    .arrow-listbox-down-hover {
      display: block;
    }
  }
}

/*--------------------------------------------------  BOF Overlay Styles Profil-Menu  --------------------------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-container {
  position: absolute;
  top: 100px;
  right: 25px;
  background-color: $white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 281px;
  height: 181px;
  padding: 30px;
  @include dFlex($g: 15px);
  flex-direction: column;

  >p {
    width: 222px;
    height: 53px;
    padding: 10px 0;
    cursor: pointer;
    @include dFlex();
    @include font($fs: 24px, $fw: 600);

    &:hover {
      background-color: $ice_blue;
      border-radius: 53px;
    }
  }
}

/*--------------------------------------------------  EOF Overlay Styles Profil-Menu  --------------------------------------------------*/

/*--------------------------------------------------  BOF Overlay Styles Profil-Edit  --------------------------------------------------*/
// .profile-overlay {
//   @include dFlex($jc: flex-end);
//   position: fixed;
//   top: 0;
//   left: 0;
//   padding-right: 20px;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.6);
//   z-index: 1000;
// }

// .profile-container {
//   @include dFlex($g: 38px);
//   flex-direction: column;
//   background: white;
//   border-top-left-radius: 30px;
//   border-bottom-left-radius: 30px;
//   border-bottom-right-radius: 30px;
//   padding: 45px 40px;
//   width: 500px;
//   position: relative;
// }

// .profile-header {
//   @include dFlex($jc: space-between);
//   width: 100%;

//   >h1 {
//     @include font($fs: 24px, $fw: 700);
//   }
// }

// .close-btn {
//   border: none;
//   width: 40px;
//   height: 40px;
//   cursor: pointer;

//   &:hover {
//     background: $ice_blue;
//     border-radius: 50%;
//   }
// }

// .profile-avatar {
//   width: 200px;
//   height: 200px;
//   border-radius: 50%;
// }

// .name-edit {
//   width: 100%;
//   @include dFlex($jc: space-between);
//   // @include font($fs: 32px, $fw: 700);

//   >h2 {
//     @include font($fs: 32px, $fw: 700);
//   }

//   >a {
//     @include font($fs: 18px, $fw: 600);
//     text-decoration: none;
//     color: $purple_3;
//   }
// }

// .status {
//   @include dFlex($jc: flex-start, $g: 15px);
//   width: 100%;

//   >p {
//     @include font($fs: 20px, $fw: 400);
//     color: $textGray;
//   }
// }

// .email-section {
//   @include dFlex($jc: flex-start, $ai: flex-start, $g: 20px);
//   width: 100%;

//   .mail-icon {
//     width: 30px;
//     height: 30px;
//   }

//   >div {
//     @include dFlex($ai: flex-start, $g: 20px);
//     flex-direction: column;
//   }

//   .email-text {
//     @include font($fs: 20px, $fw: 700);
//   }

//     .email-address {
//       @include font($fs: 18px, $fw: 500);
//       color: $profileEmail;
//     }
// }

// .disabled-link {
//   color: gray;
//   pointer-events: none;
// }

/*--------------------------------------------------  EOF Overlay Styles Profil-Edit  --------------------------------------------------*/