<section class="content_max">
  <header>
    <img class="logo" src="assets/img/logo.svg" alt="" />
  </header>
  <div class="privacy">
    <div class="headline">
      <a [routerLink]="['/']">
        <div class="img-container">
          <img
            class="arrow-back"
            src="assets/img/icons/arrow-back.svg"
            alt="Arrow Back Icon"
          />
          <img
            class="arrow-back-hover"
            src="assets/img/icons/arrow-back-hover.svg"
            alt="Arrow Back Icon"
          />
        </div>
      </a>
    </div>
    <div>
      <h1>Datenschutz</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae
        molestiae earum voluptatum maiores molestias ut nisi doloremque
        exercitationem vero porro, pariatur quaerat obcaecati repellendus
        deserunt maxime est tenetur illo assumenda.<br />
        Reprehenderit, pariatur natus, inventore quas dolorum eveniet quisquam,
        suscipit incidunt reiciendis alias facere maxime repellendus? Facere,
        aperiam dolor quasi modi ut beatae labore. Fugit itaque temporibus
        nesciunt praesentium eveniet quaerat!
      </p>
    </div>
  </div>
  <footer></footer>
</section>
