/* bg color body global */
$ice_blue: rgba(236, 238, 254, 1);

/* bg color body global */
$intro: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);

/* bg-color for fonts & bg color buttons */
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$red: rgba(255, 129, 144, 1);
$placeholerGray: rgba(104, 104, 104, 1);
$purple_1: rgba(68, 77, 242, 1);
$purple_2: rgba(121, 126, 243, 1);
$purple_3: rgba(83, 90, 241, 1)